.similar-block__title {
  font-size: 24px;
  line-height: 52px;
  font-weight: 900;
  color: #323232;
}

.similar-block__wrapper {
  margin: 0 auto;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: fit-content;
    grid-gap: 30px;
  }

  @media (min-width: 1300px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.similar {
  display: flex;
  position: relative;
  max-width: 263px;
  margin: 30px auto;
  border-radius: 10px;
  background-color: #323232;
  overflow: hidden;
  transition: all .3s ease-in-out;
}

.similar__poster {
  width: 263px;
  height: 361px;
  border-radius: 10px;
  object-fit: cover;
}

.similar__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  transition: 0.5s;

  &:hover {
    background-color: rgba(0, 0, 0, 0.8);

    .similar__info-block {
      animation-name: fadeInLeft;
      animation-fill-mode: forwards;
      animation-duration: 1.5s;
    }
  }
}

.similar__info-block {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 40px 30px;
  transform: translateX(-100%);
}

.similar__title {
  display: flex;
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 8px;
  color: white;

  &:hover {
    opacity: 0.6;
  }
}

.similar__genre {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
  color: white;
}

.similar__type {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 21px;
  color: white;
}

.similar__text {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 16px;
  color: white;
}

.similar__rating-bg {
  display: flex;
  align-items: center;
  padding: 7px 12px 8px;
  background-color: #fac539;
  border-radius: 8px;
  min-width: 83px;
  max-width: 90px;
  margin-top: auto;
}

.similar__rating {
  font-weight: 900;
  font-size: 12px;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
