.similar__poster {
  width: 263px;
  height: 361px;
}

.similar__info-block {
  padding: 40px 30px;
}

.similar__title {
  font-size: 24px;
  font-weight: 800;
  color: white;
}

.similar__genre {
  font-size: 14px;
  font-weight: 500;
  color: white;
}

.similar__type {
  font-size: 14px;
  font-weight: 500;
  color: white;
}

.similar__text {
  font-size: 14px;
  font-weight: 400;
  color: white;
}
